html, body {
	min-height:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

html {
	overflow-y:scroll;
	overflow-x:auto;
	background:#FFF;
}

body {
	font-size:13px;
	font-family:verdana,helvetica,"lucida grande",arial,sans-serif;
	background:#FFF;
}
img {
	border:0;
}

.ErrorContainer {
	width:50%;
	color:#000;
	font-weight:bold;
	margin:100px auto 0;
	padding:0px;
	background:#F9E2E2;
	border:1px solid #9A1600;
}
.MessageContainer {
	width:75%;
	color:#000;
	font-weight:bold;
	margin:100px auto 0;
	padding:0px;
	background:#FFFFFF;
	border:1px solid #A9B4C8;
}
.ErrorTop {
	background:#9A1600;
	margin:0px;
	padding:5px;
	color:#FFFFFF;
	border-bottom:1px solid #9A1600;
	text-align:center;
	vertical-align:top;
}
.ErrorBottom {
	padding:5px;
	background:#FFA090;
	border-top:1px solid #9A1600;
	text-align:center;
	vertical-align:middle;
}
.ErrorData {
	padding:20px;
	text-align:left;
	vertical-align:top;
}
.ErrorBottom input {
	border:1px solid #9A1600;
	background:#FFCFC7;
	cursor:pointer;
}
.OneErrorBlock {
	background:url(../images/error_item.png) no-repeat center left;
	padding-left:20px;
	font-weight:normal;
}
.MessageTop {
	padding:5px;
	text-align:center;
	color:#FFFFFF;
	font-size:13px;
	background:url("../images/tr_bg.gif") repeat-x left top #FFFFFF;
}
.MessageData {
	color:#222222;
	background:#DFE6EF;
	border:1px solid #FFFFFF;
	padding:10px;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
}
.MessageData a {
	color:#222222;
	text-decoration:underline;
    font-weight:normal !important;
}
.MessageData a:hover {
	color:#AA0000;
	text-decoration:none;
}
.MessageBottom {

}
.MessageBottom div {
	width:100%;
	height:4px;
	background:#8394B2;
}