#NavigationUL li.IndexLI {
	letter-spacing:0;
}
.PostsMainBlock  .MainBlockPost {

}
.FormsTable .InpButton {
	/* padding:0px; */
}
/***Other***/
#ThemeDelimiterDiv {
	height:17px;
	width:100%;
}
/***Other***/